<h4>Update Password</h4>
<hr>
<div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show">
  Password Updated successfully.
</div>
<div *ngIf="serverErrorMessage && serverErrorMessage.length>0" class="alert alert-dismissible fade show alert-danger">
  {{serverErrorMessage}}
</div>
<form>
  <form #changeForm='ngForm' (ngSubmit)="change.valid && onSubmit(changeForm)">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Current Password</label>
      <div class="col-sm-9">
        <input type="password" #cpassword="ngModel" [(ngModel)]="userService.selectedUser.cpassword" class="form-control"
          placeholder="Current Password" name="cpassword" required
          [ngClass]="{'invalid-field': changeForm.submitted && !cpassword.valid}">
        <div *ngIf="createForm.submitted && !cpassword.valid">
          <label class="validation-message">Please enter Organization Name.</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">New Password</label>
      <div class="col-sm-9">
        <input type="password" #npassword="ngModel" [(ngModel)]="userService.selectedUser.npassword" class="form-control"
          placeholder="New Password" name="npassword" required
          [ngClass]="{'invalid-field': changeForm.submitted && !npassword.valid}">
        <div *ngIf="changeForm.submitted && !npassword.valid">
          <label class="validation-message">Please enter Organization Name.</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Re-enter Password</label>
      <div class="col-sm-9">
        <input type="password" #rpassword="ngModel" [(ngModel)]="userService.selectedUser.rpassword" class="form-control"
          placeholder="Re-enter Password" name="name" required
          [ngClass]="{'invalid-field': changeForm.submitted && !rpassword.valid}">
        <div *ngIf="changeForm.submitted && !rpassword.valid">
          <label class="validation-message">Please enter Organization Name.</label>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Create Organization</button>
    </div>
  </form>